<%- include('../inc/top', { title: 'DETAIL PRODUCT' }); %>
    <div style="text-align: center; margin: 50px;">
        <h2 style="color: blue;">Chi tiết truyện</h2>
    </div>
    <div class="row" style="margin: 40px;">
        <section>
            <div class="container d-flex">
                <div class="left" style="margin-left: 20px;">
                    <div class="main_image">
                        <img src="<%= objComic.image %>" style="width: 390px;">
                    </div>

                </div>
                <div class="right" style="margin: 60px; margin-left: 100px; padding: 10px;">
                    <h3 style="color: #f70000;"> Name:
                        <%= objComic.name %>
                    </h3>
                    <p style="color: #010000;"> Author:
                        <%= objComic.author %>

                    </p>
                    <p style="color: #000000;"> DateTime:
                        <%= objComic.year %>
                    </p>
                    <p style="color: #080100;"> Content:
                        <%= objComic.content %>
                    </p>
                    <p style="color: #020000;"> Describe:
                        <%= objComic.describe %>

                    </p>
                </div>
        </section>
        <%- include('../inc/bottom') %>